logging:
  level: INFO
  loggers:
    org.example: DEBUG

  appenders:
    - type: console
      threshold: ALL
      timeZone: IST

mongoDBConnection:
  credentials:
    username: "admin"
    password: "password"
  seeds:
    - host: "localhost"
      port: 27017
  database: "donuts"

swagger:
  basePath: /Khelo
  resourcePackage: org.example.resources
  scan: true
  info:
    version: "1.0.0"
    title: "Donuts API CRUD"
    description: "A simple API used for expose CRUD operation on MongoDB collection"
    termsOfService: "http://swagger.io/terms/"
    contact:
      name: "Donuts API "
    license:
      name: "ragnar"